.repoDetailsContainer {
  padding: 20px;
  width: calc(100vw - 400px);
}

header {
  display: grid;
  align-items: center;
  /* justify-content: space-between; */
  border-bottom: solid 2px black;
  grid-template-columns: 66% 34%;
}
sup {
  font-style: italic;
  font-size: 15px;
}

.detailsCount {
  padding: 0px;
  list-style: none;
  display: flex;
  height: 72px;
  margin: 0px;
  border-left: solid 2px black;
}

.detailsCount li {
  padding: 10px;
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.detailsCount li span {
  display: flex;
  align-items: center;
  column-gap: 5px;
  font-weight: 600;
}

.infoContainer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.infoContainer section {
  width: 34%;
}

.description {
  padding: 20px;
  border: solid 2px black;
  width: 66%;
  /* border-radius: 10px; */
  /* box-shadow: 0px 1px 20px #838383; */
  margin-top: 20px;
  height: 400px;
}
